<div class="sign-in-up border-black">  
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form">
      <div class="form-items">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Email", class: "form-fields border-black form-title" %>
      </div>
    </div>

    <div class="sign-btn-checkbox">
      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-sign-in-up" %>
      </div>
    </div>
  <% end %>
  
  <div class="sign-btn-checkbox links">
    <%= render "devise/shared/links" %>
  </div>
<div>
