<%= form_with model: post, url: user_posts_path, local: true, class: "form" do |form| %>
  <div class="form-items">
    <%= form.label :title %></br>
    <%= form.text_field :title, class: "form-fields border-black form-title" %>
  </div>
  <div class="form-items">
    <%= form.label :text %></br>
    <%= form.text_area :text, class: "form-fields border-black form-text" %>
  </div>
  <div>
    <%= form.submit "Create post", class: "btn" %>
  </div>
<% end %>
