<div class="user-post border-black">
  <h2>Post #<%= post.title %></h2>
  <%= link_to user_post_path(user_id: post.author.id, id: post.id), class: "post" do %>
    <p class="post-text"><%= post.text %></p>
  <% end %>
  <div class="like-comment">
    <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
  </div>
</div>