<h1>Single Post</h1>

<section class="full-post-section">
  <div class="full-post border-black">
    <h2>Post # <%= @post.title %> by <%= @post.author.name %></h2>
    <p class="post-likes-comments">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    <p class="post-text2"><%= @post.text %></p>
    <div class="like-comment-btn">
      <%= form_with model: @like, url: user_post_likes_path(user_id: @post.author.id, post_id: @post.id), local: true do |form| %>
        <%= form.submit "Add a like", class: "btn" %>
      <% end %>
      <button type="button" class="btn"><%= link_to "Add a comment", new_user_post_comment_path(user_id: @post.author.id, post_id: @post.id) %></button>
    </div>
  </div>
  <div class="comments">
    <%= render "shared/comment", post: @post %>
  </div>
</section>